grid-table[product="true"] {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: stretch;
}

.select {
  width: 100%;
  height: 36px;
  margin: 5px 0;
}

.submit {
  justify-self: center;
  background-color: #6ee064;
  padding: 10px;
  border: 1px solid #6ee064;
  cursor: pointer;
}
.submit :hover {
  transform: scale(1.01);
}
.form--action {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.error {
  color: red;
}
